section#road-map {
  background-image: url(/assets/bgroadmap.jpg);
  div.container {
    div#road-map-img-desktop {
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
      width: 80%;
      height: 80%;
    }
  }
}

@media (min-width: 600px) {
  div.container {
    div#road-map-img-mobile {
      display: none;
    }
  }
}

@media (max-width: 600px) {
  div.container {
    div#road-map-img-desktop {
      display: none;
    }
    div#road-map-img-mobile {
      width: 100%;
      height: 80%;
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
    }
  }
}
