section#nft-genesis {
  background-image: url(/assets/bgnft.jpg);

  #mint-button-desktop {
    background-image: url(/assets/mintnowthover.png);
    transition: all 500ms ease-in;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    cursor: pointer;

    &:hover {
      background-image: url(/assets/mintnowt.png);
    }
  }
  .desktop-carousel {
    width: 80%;
    margin-bottom: 1rem;
  }

  .nft-grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
  }

  #nft-mint-button {
    position: relative;

    &::after {
      content: ' ';
      display: block;
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      opacity: 1;
      background-image: url(/assets/mintnowthover.png);
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
      transition: all 350ms ease-in-out;
    }
    &::before {
      content: ' ';
      display: block;
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      opacity: 0;
      background-image: url(/assets/mintnowt.png);
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
      transition: all 350ms ease-in-out;
    }

    &:hover {
      &::after {
        opacity: 0;
      }
      &::before {
        opacity: 1;
      }
    }
  }

  .lower-row {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;

    .directionbuttonL,
    .directionbuttonR {
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
    }

    #nft-next-button-desktop {
      position: relative;

      &::after {
        content: ' ';
        display: block;
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        opacity: 1;
        background-image: url(/assets/next.svg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        transition: all 450ms ease-in-out;
      }
      &::before {
        content: ' ';
        display: block;
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        opacity: 0;
        background-image: url(/assets/hovernext.svg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        transition: all 450ms ease-in-out;
      }

      &:hover {
        &::after {
          opacity: 0;
        }
        &::before {
          opacity: 1;
        }
      }
    }
    #nft-previous-button-desktop {
      position: relative;

      &::after {
        content: ' ';
        display: block;
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        opacity: 1;
        background-image: url(/assets/previous.svg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        transition: all 450ms ease-in-out;
      }
      &::before {
        content: ' ';
        display: block;
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        opacity: 0;
        background-image: url(/assets/previoushover.svg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        transition: all 450ms ease-in-out;
      }

      &:hover {
        &::after {
          opacity: 0;
        }
        &::before {
          opacity: 1;
        }
      }
    }

    .middlebuttons {
      display: flex;
      align-items: center;
      justify-content: space-between;

      img {
        height: 26px;
        width: 150px;
        padding-right: 20px;
        transition: all ease-in-out 550ms;
      }

      .pink-rectangle-translate {
        transform: translateX(150px);
      }

      .blue-rectangle-translate {
        transform: translateX(-150px);
      }
    }
  }
}

#mint-button-mobile {
  display: none;
}

@media screen and (min-width: 480px) {
  #mobile-carousel {
    display: none;
  }
}

@media screen and (min-width: 1020px) {
  //============================================ min 1020
  section#nft-genesis {
    div.container {
      width: 100%;
    }
    #mint-button-desktop {
      margin-left: auto;
      height: 30px;
      width: 250px;
      margin-top: -40px;
      margin-right: 75px;
    }
    .desktop-carousel {
      width: 80%;
      margin: 2rem 0;
    }

    .nft-grid {
      display: grid;
      .grid-item {
        img {
          width: 220px;
          height: 200px;
        }
      }
    }
    .lower-row {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      align-items: center;
      width: 100%;

      .directionbuttonL,
      .directionbuttonR {
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        img {
          height: 40px;
          width: 200px;
        }
      }

      #nft-next-button-desktop {
        height: 51px;
        width: 260px;
      }

      #nft-previous-button-desktop {
        height: 51px;
        width: 260px;
      }
    }

    .middlebuttons {
      img {
        height: 26px;
        width: 150px;
        padding-right: 20px;
        transition: all ease-in-out 550ms;
      }

      .pink-rectangle-translate {
        transform: translateX(150px);
      }

      .blue-rectangle-translate {
        transform: translateX(-150px);
      }
    }
  }
}

@media screen and (max-width: 480px) {
  section#nft-genesis {
    div.container {
      #mint-button-mobile {
        display: block;
        height: 40px;
        margin: 0.5rem 0;
        width: 300px;
        background-image: url(/assets/mintnowthover.png);
        transition: all 500ms ease-in;
        background-repeat: no-repeat;
        margin-bottom: 1rem;
        background-position: center;
        background-size: contain;
        cursor: pointer;

        &:hover {
          background-image: url(/assets/mintnowt.png);
        }
      }

      #mint-button-desktop {
        display: none;
      }
      .desktop-carousel {
        display: none;
      }
      .lower-row {
        margin-top: 0px;
        overflow: hidden;
        width: 95%;
        margin: 0 auto;
        display: none;

        .middlebuttons {
          img {
            height: 20px;
            width: 50px;
            padding-right: 10px;
          }

          .pink-rectangle-translate {
            transform: translateX(50px);
          }

          .blue-rectangle-translate {
            transform: translateX(-50px);
          }
        }

        .directionbuttonL {
          img {
            width: 30px;
            height: 30px;
          }
        }
        .directionbuttonR {
          img {
            width: 30px;
            height: 30px;
          }
        }
      }
      #mobile-carousel {
        width: 80%;
        margin: 0 auto;
        display: grid;
        grid-template-rows: auto auto;
        grid-auto-flow: column;
        overflow-x: scroll;
        div {
          height: 200px;
          width: 200px;
        }
        img {
          height: 200px;
          aspect-ratio: 1/1;
        }
      }
    }
  }
}
