.mainSection {
  display: flex;
  height: 100vh;
  scroll-snap-align: start;
  scroll-snap-stop: always;
  width: 100vw;
  background: url(/assets/bgsvg.svg) no-repeat;
  position: relative;
  flex-direction: column;
  margin-top: 5%;
  .relativediv {
    position: relative;
    .title {
      font-size: 64px;
      line-height: 80px;
      font-family: 'Orbitron', sans-serif;
      font-weight: 900;
      color: #fff060;
      text-align: center;
      letter-spacing: -0.05em;
    }
    .wording {
      font-family: 'Orbitron', sans-serif;
      font-style: normal;
      font-weight: 900;
      font-size: 18px;
      line-height: 24px;
      text-align: center;
      letter-spacing: -0.02em;
      color: #ffffff;
    }
  }
  .mint {
    display: flex;
    justify-content: center;
    padding-left: 1200px;
    margin-top: -60px;
    cursor: pointer;
    img {
      height: 70px;
      width: 250px;
    }
  }
  .sectionA {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 0% 0% 0% 0% !important;
    padding: 30px -200px 0 200px;
    position: relative;
    height: 80vh;
    .nft {
      position: absolute;
      display: grid;
      justify-content: space-between;
      align-items: center;
      grid-template-columns: repeat(5, 1fr);
      grid-gap: 2px;
      row-gap: 2px;
      left: 50%;
      transition: all 550ms ease-in-out;
      transform: translateX(-50%);
      opacity: 0;
      &.active {
        opacity: 1;
      }
      .item {
        justify-content: center;
        align-items: center;
        img {
          height: 305px;
          width: 305px;
        }
      }
    }
  }
  .sectionB {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex: 1;

    .directionbuttonL,
    .directionbuttonR {
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      img {
        height: 50px;
        width: 250px;
      }
    }
    .middlebuttons {
      display: flex;
      align-items: center;
      justify-content: space-between;

      img {
        height: 26px;
        width: 150px;
        padding-right: 20px;
        transition: all ease-in-out 550ms;
      }

      .pink-rectangle-translate {
        transform: translateX(150px);
      }

      .blue-rectangle-translate {
        transform: translateX(-150px);
      }
      // 12

      //   &.active {
      // transition: ease-in-out 1s;
      // img:nth-child(1) {
      //   animation: movey 3s forwards;
      //   @keyframes movey{
      //       0% { transform: translateX(0); }
      //       100% { transform: translateX(150px); }
      //   }
      // }
      // img:nth-child(2) {
      //   animation: movex 3s forwards;
      //   @keyframes movex{
      //       0% { transform: translateX(0); }
      //       100% { transform: translateX(-150px); }
      //   }
      // }
      //   }
    }
  }
}

@media screen and (max-width: 550px) {
  .mainSection {
    .relativediv {
      .title {
        padding-top: 5%;
        font-size: 24px;
        line-height: 28px;
      }
      .wording {
        font-size: 12px;
        line-height: 20px;
        padding-top: 5px;
        white-space: normal;
        // word-break: break-all;
        overflow-wrap: break-word;
      }
    }
    .sectionA {
      padding-top: 2px;
      .nft {
        img {
          height: 350px;
        }
      }
    }
    .sectionB {
      margin-top: 0px;

      .middlebuttons {
        img {
          height: 20px;
          width: 70px;
          padding-right: 10px;
        }
      }
    }
  }
}
