.main {
  display: flex;
  flex-direction: column;
  height: 100vh;
  scroll-snap-align: start;
  width: 100vw;
  background: url(/assets/bgcoin.jpg) no-repeat center;
  background-size: cover;
  position: relative;
  justify-content: center;
  align-items: center;
  .absolutediv {
    display: flex;
    flex-direction: column;
    margin-bottom: 30%;
    // position: absolute;
    .title {
      font-size: 64px;
      line-height: 80px;
      font-family: 'Orbitron', sans-serif;
      font-weight: 900;
      color: #fff060;
      text-align: center;
      letter-spacing: -0.05em;
      text-transform: capitalize;
    }
    .wording {
      font-family: 'Orbitron', sans-serif;
      font-style: normal;
      font-weight: 900;
      font-size: 18px;
      line-height: 24px;
      text-align: center;
      letter-spacing: -0.02em;
      color: #ffffff;
      padding-bottom: 10%;
    }
  }
  .imgdiv {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    padding-right: 5%;
    img {
      height: 800px;
      width: auto;
    }
  }
  .buybutton {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: -10%;
    margin-top: 30%;
    position: absolute;
    cursor: pointer;
    img {
      width: 350px;
      height: 70px;
    }
  }
}
@media screen and (max-width: 480px) {
  .main {
    gap: 1.5rem;
    .absolutediv {
      gap: 1.5rem;
      position: unset;
      margin: 0px;
      .title {
        font-size: 24px;
        line-height: 0px;
        // background-color: red;
      }
      .wording {
        font-size: 13px;
        line-height: 20px;
        white-space: normal;
        letter-spacing: 0.04em;
        padding-bottom: 0px;
      }
    }
    .imgdivcoin {
      img {
        transform: rotate(360deg);
        height: 450px;
        width: auto;
      }
    }
    .buybutton {
      margin-left: 0;
      margin-right: 0;
      position: unset;
      margin-top: 0;

      img {
        width: 400px;
        height: 50px;
      }
    }
  }
}