@media (min-width: 1280px) {
  section#icc-coin {
    background-image: url(/assets/bgcoin.jpg);
    div.container {
      width: 98%;
      height: 80%;
      div {
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        width: 100%;
        height: 100%;
        // background-color: red;
      }
    }

    #buy-icc-button {
      cursor: pointer;
      height: 40px;
      width: 250px;
      background-image: url(/assets/buyicc.svg);
      transition: all 300ms ease-in-out;

      &:hover {
        background-image: url(/assets/buyicchover.svg);
      }
    }
  }

  div.container {
    div#icc-coin-img-mobile {
      display: none;
    }

    div#icc-coin-img-desktop {
      margin-top: -8rem;
    }
  }
}

@media (max-width: 600px) {
  div.container {
    div#icc-coin-img-desktop {
      display: none;
    }
    div#icc-coin-img-mobile {
      height: 55% !important;
      width: 100% !important;
      margin-bottom: 1rem;
    }
  }
}
