.hero{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: calc(100vh - 163px);
    scroll-snap-stop: always;
    padding-left: 150px;

    .heroContainer{
        width: 100%;
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-direction: row;
        max-width: 100%;
        flex: 1 1 auto;
        padding-right: 20px;
        // height: 700px;
        .theorySection{
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            height: 643px;
            padding-right: 35px;
            .logoImage{
                img{
                    height: 269px;
                    width:672px;
                }
            }
            .textfield{
                display: flex;
                flex-direction: column;
                width: 666px;
                padding-top: 52px;
                p{
                    color: #f5f5f5;
                    font-family: 'Orbitron',sans-serif;
                    font-size: 18px;
                    font-weight: 900;
                    line-height: 20px;
                    // letter-spacing: 0.1em;
                }
                p:nth-child(2){
                    font-weight: 800;
                    display: flex;
                    color: #00FFE0;
                    align-items: flex-start;
                    padding-bottom: 52px;
                    padding-top: 13px;
                }
                .inputdv{
                    width: 100%;
                    display: flex;
                    justify-content: flex-start;
                    flex-direction: column;
                    img{
                        cursor: pointer;
                    }
                    p{
                        padding-bottom: 5px;
                    }
                }
            }
            .playButton{
                cursor:pointer;
                padding-top: 15px;
                img{
                    height: 80px;
                    width: 666px;
                    transition: all 0.3s ease-out;
                }
                &:hover{
                    img{
                        height: 80px;
                        width: 666px;
                    }
                }
            }
        }
        .gifSection{
            display: flex;
            iframe{
                border:#FBC4E6 solid 10px;
                border-radius: 50px;
                height: 643px;
                width: 936px;
            }
        }
        
    }
    .socialIcons{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        float: right;
        right: 0px;
        width: auto;
        height: 318px;
        width: 90px;
        background: url(/assets/bgsocialsidebar.svg) no-repeat center!important;
        .communitybuttons{
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            float: right;
            height: 242px;
            width: 62px;
            padding: 20px 10px;
            margin-right: 12px;
        }
        &:hover{
            background: url(/assets/bgsocialsidebarhover.svg) no-repeat center!important;

        }
    }
}
@media screen and (max-width: 480px){
    .hero{
        padding-top: 10vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 100vh;
        scroll-snap-align: start;
        .heroContainer{
            display: flex;
            flex-direction: column;
            // position: relative;
            .theorySection{
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                padding-left: 0;
                .logoImage{
                    img{
                        height: 80px;
                        width:320px;
                    }
                }
                .textfield{
                    display: flex;
                    flex-direction: column;
                    width: 320px;
                    p{
                        font-size: 12px;
                        font-weight: 700;
                        line-height: 14px;
                    }
                    p:nth-child(2){
                        padding-top: 5px;
                    }
                    .gifSection{
                        display: flex;
                        padding: 2px 0;
                        img{
                            height: 160px;
                            width: 320px;
                        }
                    }
                    .inputdv{
                        width: 100%;
                        display: flex;
                        justify-content: flex-start;
                        flex-direction: column;
                        padding: 5px 0 5px 0;
                        input{
                            height: 60px;
                            font-size: 12px;
                            border-radius: 25px;
                            // line-height: 24px;
                            background: url(/assets/Union.svg) no-repeat 330px;
                            background-color: transparent;
                            border: none;
                            box-sizing: border-box;
                            outline: none;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            overflow-wrap: break-word;
                            // overflow-wrap: break-word;
                            
                        }
                        input::placeholder{
                            inline-size: 330px;
                            word-break: break-all;
                            white-space: normal;
                            // // overflow-wrap: break-word;
                            // overflow-wrap: break-word;
                            color: #f5f5f5;
                            font-family: 'Orbitron',sans-serif;
                            font-size: 15px;
                            border-radius: 5px;
                            border: none;
                            box-sizing: border-box;
                        }
                    }
                }
                .playButton{
                    img{
                        height: 30px;
                        width: 320px;
                    }
                }
            }
            .gifSection{
                display: none;
            }
        }

        .socialIcons{
            display: none;
        }
    }
}