.hero{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: calc(100vh - 163px);
  scroll-snap-stop: always;
  padding-left: 150px;

  .heroContainer{
      width: 100%;
      display: flex;
      justify-content: space-around;
      align-items: center;
      flex-direction: row;
      max-width: 100%;
      flex: 1 1 auto;
      padding-right: 20px;
      // height: 700px;
      .theorySection{
          display: flex;
          flex-direction: column;
          justify-content: flex-start;
          height: 643px;
          padding-right: 35px;
          .logoImage{
              img{
                  height: 269px;
                  width:672px;
              }
          }
          .textfield{
              display: flex;
              flex-direction: column;
              width: 666px;
              padding-top: 52px;
              p{
                  color: #f5f5f5;
                  font-family: 'Orbitron',sans-serif;
                  font-size: 18px;
                  font-weight: 900;
                  line-height: 20px;
                  // letter-spacing: 0.1em;
              }
              p:nth-child(2){
                  font-weight: 800;
                  display: flex;
                  color: #00FFE0;
                  align-items: flex-start;
                  padding-bottom: 52px;
                  padding-top: 13px;
              }
              .inputdv{
                  width: 100%;
                  display: flex;
                  justify-content: flex-start;
                  flex-direction: column;
                  img{
                      cursor: pointer;
                  }
                  p{
                      padding-bottom: 5px;
                  }
              }
          }
          .playButton{
              cursor:pointer;
              padding-top: 15px;
              img{
                  height: 80px;
                  width: 666px;
                  transition: all 0.3s ease-out;
              }
              &:hover{
                  img{
                      height: 80px;
                      width: 666px;
                  }
              }
          }
      }
      .gifSection{
          display: flex;
          iframe{
              border:#FBC4E6 solid 10px;
              border-radius: 50px;
              height: 643px;
              width: 936px;
          }
      }
      
  }
  .socialIcons{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      float: right;
      right: 0px;
      width: auto;
      height: 318px;
      width: 90px;
      background: url(/assets/bgsocialsidebar.svg) no-repeat center!important;
      .communitybuttons{
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          float: right;
          height: 242px;
          width: 62px;
          padding: 20px 10px;
          margin-right: 12px;
      }
      &:hover{
          background: url(/assets/bgsocialsidebarhover.svg) no-repeat center!important;

      }
  }
}
@media screen and (min-width: 480px) {
  .mobile-iframe {
    display: none;
  }

  .mobile-nav {
    display: none;
  }
}
@media screen and (max-width: 480px) {
  .hero {
    display: flex;
    padding-top: 0;
    flex-direction: column;
    height: 100vh;
    scroll-snap-align: start;

    .mobile-nav {
      background: url(/assets/bgc.png) no-repeat center !important;
      border-radius: 35px;
      height: 60px;
      margin-bottom: 10px;
      width: 90%;
      color: white;
      display: flex;
      flex-direction: row;
      align-items: center;
      padding: 10px;
      justify-content: center;

      img {
        height: 40px;
      }
    }

    .heroContainer {
      display: flex;
      flex-direction: column;
      margin-top: 0;

      .theorySection {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
        align-items: center;
        padding: 0;
        margin: 0;

        .logoImage {
          img {
            height: 100px;
            width: 300px;
          }
        }

        .textfield {
          display: flex;
          flex-direction: column;
          width: 80%;
          gap: 0.5rem;
          p {
            font-size: 13px;
            letter-spacing: 0.03em;
            font-weight: 700;
            line-height: 15px;
            text-align: center;
          }
          p:nth-child(2) {
            padding-top: 5px;
          }

          .mobile-iframe {
            display: block;
            height: 40vh;
          }

          .inputdv {
            width: 100%;
            display: flex;
            justify-content: flex-start;
            flex-direction: column;
            padding: 5px 0 5px 0;
            .icccontract {
              display: flex;
              outline: black solid 1px;
              border-radius: 25px;
              padding: 5px 8px 5px 5px;
              overflow: hidden;
              word-wrap: break-word;
              p {
                text-align: start;
                color: #f5f5f5;
                font-size: 0.68rem;
                width: 85%;
                flex-wrap: wrap;
              }
            }
          }
        }
        .playButton {
          img {
            height: 25px;
            width: 320px;
          }
        }
      }
      .gifSection {
        display: none;
      }
    }

    .socialIcons {
      display: none;
    }
  }
}
