section#hero {
  // background-image: url(/assets/bghome.jpg);
  height: 100vh;
  display: flex;
  width: 100vw;
  flex-direction: column;
  justify-content: flex-start;
  scroll-snap-align: start;
  scroll-snap-stop: always;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;

  div#hero {
    height: calc(100vh - 163px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    // background-color: red;
    // margin-left: 83px;

    .hero-play-button {
      position: relative;
      margin-top: 15px;
      &::after {
        content: ' ';
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        opacity: 1;
        background-image: url(/assets/playnowidle.png);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        transition: all 450ms ease-in-out;
        cursor: pointer;
      }
      &::before {
        content: ' ';
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        opacity: 0;
        background-image: url(/assets/playnowidlehover.png);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        transition: all 450ms ease-in-out;
        cursor: pointer;
      }

      &:hover {
        &::after {
          opacity: 0;
        }
        &::before {
          opacity: 1;
        }
      }
    }

    /* 3xl:tw-w-[338px] 3xl:tw-h-[69px] */
  }

  div.container {
    height: 100%;
  }

  #play-now-button {
    background-image: url(/assets/playnowidle.png);
    background-size: contain;
    background-repeat: no-repeat;
    transition: all 500ms ease-in-out;
    cursor: pointer;
    margin-top: 1rem;

    &:hover {
      background-image: url(/assets/playnowidlehover.png);
    }
  }

  #hero-image {
    background-image: url(/assets/logo.png);
    background-repeat: no-repeat;
    background-position: center;

    &:hover {
      background-image: url(/assets/footerlogoicon.png);
    }
  }

  // height: calc(100vh - 163px);

  .social-icons {
    position: absolute;
    right: 0;
    height: 318px;
    width: 90px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top-left-radius: 40px;
    border-bottom-left-radius: 40px;
    background-image: url(/assets/bgsocialsidebar.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    transition: all 450ms ease-in-out;

    &::before {
      content: ' ';
      display: block;
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      opacity: 0;
      background-image: url(/assets/bgsocialsidebarhover.svg);
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
      transition: all 450ms ease-in-out;
    }

    &:hover {
      &::before {
        opacity: 1;
      }
    }

    .container {
      height: 242px;
      width: 100px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 35px;
      position: relative;
    }
  }
}

@media (min-width: 1920px) {
  #hero {
    .hero-play-button {
      width: 660px;
      height: 75px;
    }
  }
}

@media (min-width: 1600px) {
  .hero-play-button {
    width: 280px;
    height: 70px;
  }
}

@media screen and (min-width: 480px) {
  .mobile-iframe {
    display: none;
  }

  #mobile-nav {
    display: none;
  }
}
@media screen and (max-width: 480px) {
  div#hero {
    height: 100vh;
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0px !important;

    #hero-image {
      height: 150px;
      width: 100%;
    }

    .mobile-iframe {
      height: 30vh;
    }

    #play-now-button {
      height: 40px;
      width: 100%;
    }

    .social-icons {
      display: none;
    }
  }

  #mobile-nav {
    background: url(/assets/bgc.png) no-repeat center;
    border-radius: 25px;
    height: 80px;
    width: 92%;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px;
    justify-content: space-around;
    bottom: 10px;
    position: absolute;

    img {
      height: 45px;
      aspect-ratio: 1/1;
    }
  }
}
