@media (min-width: 1920px) {
  section#core-team {
    .team {
      div {
        margin: 0 -30px !important;
        img {
          height: 279px;
          width: 315px;
        }
      }
    }
  }
}
@media (min-width: 1600px) {
  section#core-team {
    .team {
      div {
        img {
          height: 279px;
          width: 315px;
        }
        .info {
        }
      }
    }
  }
}
@media (min-width: 1366px) {
  section#core-team {
    .team {
      div {
        column-gap: 10px;
        .info {
        }
      }
    }
  }
}
@media (min-width: 1280px) {
  section#core-team {
    background-image: url(/assets/bgteam.jpg);

    .team {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      div {
        margin: 0 -15px; // ================================= use this to reduce the spacing
        img {
          // height: 200px;
          // width: 220px;
          justify-content: center;
        }
        .info {
          display: flex;
          justify-content: baseline;
          flex-direction: column;
          align-items: center;
          gap: 5px;
          font-weight: 900;

          h1 {
            font-family: 'Orbitron', sans-serif;
            color: #fff060;
            text-align: center;
            text-transform: uppercase;
          }
          p {
            font-family: 'Orbitron', sans-serif;
            font-style: normal;
            font-weight: 900;
            text-align: center;
            color: #ffffff;
            text-transform: uppercase;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 480px) {
  section#core-team {
    .team {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      // gap: 10px;

      div {
        display: flex;
        flex-direction: column;
        width: 175px;
        height: 175px;
        overflow: hidden;
        align-self: center;
        justify-self: center;
        align-items: center;
        margin: 0.3rem;
        .info {
          h1 {
            font-size: 0.9rem;
            line-height: 15px;
          }
          p {
            font-size: 0.7rem;
            line-height: 12px;
          }
        }
        img {
          width: 120px;
          height: 120px;
        }
      }
    }
  }
}
