.main{
    display: flex;
    height: 100vh;
    scroll-snap-align: start;
    width: 100vw;
    margin-top: 50%;
    
    .absolutediv{
        display: flex;
        flex-direction: column;
        margin-bottom: 20%;
        position: absolute;
        .title{
            font-size: 64px;
            line-height: 80px;
            font-family: 'Orbitron',sans-serif;
            font-weight: 900;
            color: #FFF060;
            text-align: center;
            letter-spacing: -0.05em;
            padding-bottom: 20px;
        }
        .wording{
            font-family: 'Orbitron',sans-serif;
            font-style: normal;
            font-weight: 900;
            font-size: 18px;
            line-height: 24px;
            text-align: center;
            letter-spacing: -0.02em;
            color: #FFFFFF;
        }
    }
        .imgdiv{
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            position: relative;
            // width: 80%;
            .img{
                display: flex;
                flex-direction: column;
                justify-content: space-around;
                align-items: center;
                bottom: 0;
                padding: 20% 0;
                padding: 0 -30px 0 -30px; 
                img{
                    height: 275px;
                    width: auto;
                    justify-content: baseline;
                }
                .titl{
                    display: flex;
                    justify-content:baseline;
                    flex-direction: column;
                    align-items: center;
                    h1{
                        padding-top: 10%;
                        font-size: 24px;
                        line-height: 40px;
                        font-family: 'Orbitron',sans-serif;
                        font-weight: 900;
                        color: #FFF060;
                        text-align: center;
                        letter-spacing: -0.05em;
                        padding-bottom: 10px;
                    }
                    p{
                        font-family: 'Orbitron',sans-serif;
                        font-style: normal;
                        font-weight: 900;
                        font-size: 18px;
                        line-height: 24px;
                        text-align: center;
                        letter-spacing: -0.02em;
                        color: #FFFFFF;
                        text-transform: uppercase;
                   }
                } 
            }
            .one{
                position: relative;
                z-index: 10;
                padding-left: 10%;
            }
            .two{
                position: relative;
                z-index: 9;
                padding-left: -10px
            }
            .three{
                position: relative;
                z-index: 7;
                padding-right: -10px;
            }
            .four{
                position: relative;
                z-index: 6;
                padding-right: -10px;
            }
            .five{
                position: relative;
                z-index: 9;
                padding-right: -10px;
            }
            .six{
                position: relative;
                z-index: 10;
                padding-right: 10%;
            }
        }
    
}
@media screen and (max-width: 480px) {
    .main{
        .absolutediv{
            position: relative;
            // margin-top: 300%;
            .title{
                font-size: 24px;
                line-height: 28px;
            }
            .wording{
                font-size: 12px;
                line-height: 14px;
                padding: 0 30px;
            }
        }
        .imgdiv{
         
            display: grid !important;
            grid-template-columns:auto auto;
            grid-template-rows: auto auto;
            column-count: 20px;
            row-gap: 0px;
            .img{
                display: flex;
                flex-direction: column;
                padding: 20px 0;
                .titl{
                    h1{
                        font-size: 16px;
                        line-height: 20px;
                        font-family: 'Orbitron',sans-serif;
                        font-weight: 900;
                        color: #FFF060;
                        text-align: center;
                        letter-spacing: -0.05em;
                        padding-bottom: 10px;
                    }
                    p{
                        font-family: 'Orbitron',sans-serif;
                        font-style: normal;
                        font-weight: 900;
                        font-size: 14px;
                        line-height: 16px;
                        text-align: center;
                        letter-spacing: -0.02em;
                        color: #FFFFFF;
                        text-transform: uppercase;
                   }
                }
                    img{
                        height: 180px;
                        width: 200px;
                    }
            }
            
        }
    }
}