.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem 2rem;
    height: 15vh;   
    scroll-snap-align: start;
    background: url(/assets/topoverlay.svg) no-repeat bottom!important; /* Set the fixed background overlay */
    position: relative;
    .navcontainer{
        flex: 1;
        display: flex;
        justify-content: space-around;
        align-items: center;

        .logo{
            padding-right: 20%;
            padding-left: 3%;
            justify-content: flex-start;
            img{
                width: 158px;
                height: 64px;
            }
        }
        .navlinks{
            display: flex;
            align-items: center;  
            flex-direction: row;
            ul{
                list-style-type: none;
                display: flex;
                flex-direction: row;
                height:100%;
                justify-content: center;
                align-items: center;
                a{
                    text-decoration: none;
                    padding: 0 20px 0 20px;
                    font-size: 30px;
                    color: white;
                    font-family: 'Orbitron',sans-serif;
                    font-weight: 900;
                    // &:hover{
                        
                    // }
                }

            }

            .playButton{
                display: flex;
                justify-content: flex-end;
                align-items: center;
                img{
                    height:40px;
                    width:200px;
                }
            }
        }
    }
}
@media screen and (max-width: 1024px){
    .navbar{
        .navcontainer{
            .logo{
                padding-right: 0;
                img{
                    width: 100px;
                    height: 50px;
                }
            }
            .navlinks{
                .playButton{
                    img{
                        height:30px;
                        width:150px;
                    }
                }
            }
        }
        }
    }

@media screen and (max-width: 768px){
    .navbar{
        display: none;
    }
}

@media screen and (max-width: 480px){
    .navbar{
        display: none;
        // height: 10vh;
    }
}
