.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem 4rem;
    height: 20vh;   
    background-color: url(/assets/topoverlay.svg) no-repeat; 
    .navcontainer{
        flex: 1;
        display: flex;
        justify-content: space-around;
        align-items: center;

        .logo{
            padding-right: 25%;
            justify-content: flex-start;
            img{
                width: 158px;
                height: 64px;
            }
        }
        .navlinks{
            display: flex;
            align-items: center;  
            flex-direction: row;
            ul{
                list-style-type: none;
                display: flex;
                flex-direction: row;
                height:100%;
                justify-content: center;
                align-items: center;
                a{
                    text-decoration: none;
                    padding: 0 20px 0 20px;
                    font-size: 20px;
                    color: white;
                    font-family: 'Orbitron',sans-serif;
                    font-weight: 900;
                    &:hover{
                        color:#00FFE0;
                    }
                }

            }

            .playButton{
                display: flex;
                justify-content: flex-end;
                align-items: center;
                img{
                    height:40px;
                    width:200px;
                }
            }
        }
    }
}
