section#footer {
  height: 70vh;

  background-image: url(/assets/bgfooter.jpg);

  .upper-row {
    display: flex;
    flex-direction: row;
    height: auto;
    justify-content: space-between;
    width: 100%;
    #footerlogo {
      height: 120px;
      width: 300px;
      background-image: url(/assets/logo.png);
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      transition: all 500ms ease-in-out;

      &:hover {
        background: url(/assets/footerlogoicon.png);
        background-size: cover;
      }
    }
    .inner-row {
      display: flex;
      padding: 1rem;
      width: 70%;

      .button-grid {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        column-gap: 15px;
        row-gap: 5px;

        button {
          width: 200px;
          height: 50px;
          font-family: 'Orbitron';
          font-weight: 900;
          font-size: 16px;
          text-transform: uppercase;
          color: #0bfff0;
          background-color: transparent;
          border-radius: 25px;
          // padding: 10px;
          border-color: #0bfff0;
          border-bottom-width: 3px;
          border-top: none;
        }
      }

      div#divider {
        height: 100%;
        margin: 0 2rem;
        border: #0bfff0 solid 1px;
      }

      .community {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1.5rem;
        .bgc {
          background: url(/assets/bgc.png) no-repeat center !important;
          border-radius: 25px;
          width: 100%;
          padding: 1rem;
          p {
            font-size: 18px;
            line-height: 30px;
            font-family: 'Orbitron', sans-serif;
            font-weight: 900;
            color: #fff060;
            text-align: center;
            letter-spacing: -0.05em;
            text-transform: Uppercase;
            padding-top: 12px;
          }
          img {
            height: 40px;
          }
          .communitybuttons {
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            padding: 4px;
          }
        }
        button {
          width: 240px;
          height: 50px;
          display: flex;
          justify-content: center;
          align-self: center;
          line-height: 30px;
          font-family: 'Orbitron';
          font-style: normal;
          font-weight: 900;
          font-size: 18px;
          line-height: 30px;
          text-align: center;
          text-transform: uppercase;
          color: #0bfff0;
          background-color: transparent;
          border-radius: 25px;
          padding: 10px;
          border-color: #0bfff0;
          border-bottom-width: 3px;
          border-top: none;
        }
      }
    }
  }

  .lower-row {
    padding: 2rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    gap: 1rem;

    #col-one {
      display: flex;
      flex: 2;
      flex-direction: column;
      text-align: start;
      justify-content: flex-end;

      img {
        width: 50%;
        cursor: pointer;
      }

      h1 {
        margin-top: 13px;
        font-family: 'Orbitron';
        font-weight: 900;
        font-size: 1rem;
        line-height: 30px;
        text-transform: uppercase;
        color: #fff060;
      }
    }

    #col-two {
      display: flex;
      flex: 1;
      flex-shrink: 0;
      align-items: flex-end;
      overflow: hidden;
      height: 130px;
      width: 60%;

      #icc-price {
        height: 75px;
        width: 60%;
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
      }

      .btn-col {
        width: 40%;
        #mint-button-desktop {
          height: 40px;
          width: 100%;
          margin-bottom: 13px;
          background-image: url(/assets/mintnow.svg);
          background-position: center;
          background-size: contain;
          background-repeat: no-repeat;
          transition: all 500ms ease-in-out;
          cursor: pointer;

          &:hover {
            background-image: url(/assets/mintnowhover.svg);
          }
        }

        #buy-button-desktop {
          height: 40px;
          width: 100%;
          background-image: url(/assets/buyicca.svg);
          background-position: center;
          background-size: contain;
          background-repeat: no-repeat;
          transition: all 500ms ease-in-out;
          cursor: pointer;

          &:hover {
            background-image: url(/assets/buyiccahover.svg);
          }
        }
      }
    }
  }
}
@media screen and (min-width: 480px) {
  #mobile-view {
    display: none;
  }
}

@media screen and (max-width: 480px) {
  section#footer {
    max-height: none;
    height: 100vh;
    .upper-row {
      display: none;
    }
    .lower-row {
      display: none;
    }

    #mobile-view {
      width: 100%;
      align-items: center;
      display: flex;
      flex-direction: column;
      padding: 20px 0;
      gap: 1rem;
      #logo {
        height: 90px;
        width: 250px;
      }
      h1 {
        font-family: 'Orbitron';
        font-style: normal;
        font-weight: 900;
        font-size: 16px;
        line-height: 25px;
        text-align: center;
        text-transform: uppercase;
        color: #fff060;
        bottom: 0px;
      }
      .btn-column {
        display: flex;
        flex-direction: column;
        gap: 1.2rem;
        #play-now {
          width: 100%;
          height: 30px;
        }

        #buy-icc {
          width: 100%;
          height: 30px;
        }

        #mint-icc {
          width: 100%;
          height: 30px;
        }

        #icc-price {
          width: 100%;
          height: 70px;
        }

        .btn-grid {
          display: flex;
          flex-direction: column;
          grid-area: 1rem;
          align-items: center;
          gap: 1rem;
          div {
            display: flex;
            gap: 1rem;
            width: 100%;
          }
          button {
            width: 100%;
            height: 40px;
            font-family: 'Orbitron';
            font-style: normal;
            font-weight: 900;
            font-size: 12.5px;
            line-height: 30px;
            text-align: center;
            text-transform: uppercase;
            color: #0bfff0;
            background-color: transparent;
            border-radius: 25px;
            padding: 10px;
            border-color: #0bfff0;
            border-bottom-width: 3px;
            border-top: none;
          }
        }

        .community-btn {
          background: url(/assets/bgc.png) no-repeat center !important;
          border-radius: 35px;
          height: auto;
          width: auto;
          padding: 10px;
          background-clip: text;
          -webkit-background-clip: text;
          display: flex;
          align-items: center;
          justify-content: center;
          gap: 10px;
          p {
            font-size: 16px;
            font-family: 'Orbitron', sans-serif;
            font-weight: 900;
            color: #fff060;
            text-align: center;
            letter-spacing: -0.05em;
            text-transform: capitalize;
          }
          .communitybuttons {
            display: flex;
            flex-direction: row;
            gap: 10px;
            a {
              img {
                flex-shrink: 0;
                height: 30px;
                width: 30px;
              }
            }
          }
        }
      }
    }
  }
}
