.App {
  height: 100vh;
  overflow-y: scroll;
  overflow-x: hidden;
}
::-webkit-scrollbar {
  display: none;
}

footer,
section {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  scroll-snap-align: start;
  scroll-snap-stop: always;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

section div.container {
  /* background-color: grey; */
  height: 95%;
  text-align: center;
  display: flex;
  flex-direction: column;
  max-width: 90%;
  width: 90%;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

section div.container h1 {
  font-family: 'Orbitron', sans-serif;
  font-weight: 900;
  color: #fff060;
  font-size: 1.6rem;
}

section div.container p {
  font-family: 'Orbitron', sans-serif;
  font-weight: 600;
  font-size: 0.85rem;
  color: white;
  line-height: 1.2rem;
  margin-bottom: 0.5rem;
}

@media (min-width: 640px) {
}
@media (min-width: 768px) {
}
@media (min-width: 1024px) {
  section div.container h1 {
    font-size: 3.5rem;
  }
  section div.container p {
    font-size: 0.9rem;
    line-height: 1.6rem;
  }

  .App {
    scroll-snap-type: y mandatory;
  }
}
@media (min-width: 1280px) {
}
@media (min-width: 1536px) {
}
