.App {
  height: 100vh;
  overflow-y: scroll;
  overflow-x: hidden;
}
::-webkit-scrollbar {
  display: none;
}

footer,
section {
  /* display: flex; */
  /* align-items: center;
  justify-content: center; */
  height: 100vh;
  scroll-snap-align: start;
  scroll-snap-stop: always;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

section div.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  /* 
  border: 1px solid gray;
  text-align: center;
  width: 90%;
  justify-content: center;
   */
  overflow: hidden;
}

section div.container h1 {
  font-family: 'Orbitron', sans-serif;
  font-weight: 900;
  color: #fff060;
  -webkit-text-stroke: 1.3px #fff060;
}

section div.container p {
  font-family: 'Orbitron', sans-serif;
  font-weight: 900;
  color: white;
  letter-spacing: -0.02em;
}

@media only screen and (min-width: 1600px) {
  .App {
    scroll-snap-type: y mandatory;
  }
}
@media only screen and (min-width: 1366px) {
  .App {
    scroll-snap-type: y mandatory;
  }
}

@media only screen and (min-width: 1280px) {
  .App {
    scroll-snap-type: y mandatory;
  }
}
