.bgb{
  background: url(/assets/bggameplay.jpg) no-repeat center center;
  background-size: cover;
  height: 100vh;
}

.upper-row {
  display: flex;
  justify-content: space-between;
  padding: 0 5%;
  height: 70vh;
  width: 100%;
  #running-man-img {
    background-image: url(/assets/runningman.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    height: 500px;
    width: 60%;
    transition: all 400ms ease-in-out;
    &.active {
      background-image: url(/assets/runningman2.png);
    }
  }

  #blueman-img {
    background-image: url(/assets/bueman.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    height: 300px;
    width: 70%;
    transition: all 400ms ease-in-out;
    &.active {
      background-image: url(/assets/blueman2.png);
    }
  }

  .blueman {
    .freeplay {
      display: flex;
      align-items: center;
      justify-content: center;
      color: #0bfff0;
      font-family: 'Orbitron', sans-serif;
      font-style: normal;
      font-weight: 900;
      font-size: 36px;
      line-height: 24px;
      display: flex;
      align-items: center;
      text-align: center;
      letter-spacing: -0.02em;
      padding: 20px 0px;
    }
    .words {
      display: flex;
      align-items: center;
      justify-content: center;
      font-family: 'Orbitron', sans-serif;
      font-style: normal;
      font-weight: 800;
      font-size: 18px;
      line-height: 24px;
      text-align: center;
      letter-spacing: -0.02em;
      color: #0bfff0;
      padding-bottom: 10px;
    }
    .watchButton {
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      img {
        height: 70px;
        width: 330px;
      }
    }
  }
}

#watch-button-mobile {
  display: none;
}

.bgb {
  background: url(/assets/bgsvg.svg) no-repeat;
  height: 100vh;
  scroll-snap-align: start;
  scroll-snap-stop: always;
  margin-top: 160px;
  margin-bottom: 20%;
  position: relative;
  .title {
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 80px;
    font-size: 64px;
    font-family: 'Orbitron', sans-serif;
    font-weight: 900;
    color: #fff060;
    text-align: center;
    letter-spacing: -0.05em;
  }
  .wording {
    font-family: 'Orbitron', sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 18px;
    line-height: 24px;
    text-align: center;
    letter-spacing: -0.02em;
    color: #ffffff;
  }

  .sectionB {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    // flex: 1;
    // margin-top: -20px;
    // position: absolute;
    #nft-next-button-desktop {
      height: 50px;
      width: 255px;
      background-image: url(/assets/next.svg);
      transition: all 500ms ease-in-out;
    }

    #nft-next-button-desktop {
      &:hover {
        background-image: url(/assets/hovernext.svg);
      }
    }
    #nft-previous-button-desktop {
      height: 50px;
      width: 255px;
      background-image: url(/assets/previous.svg);
      transition: all 500ms ease-in-out;
    }

    #nft-previous-button-desktop {
      &:hover {
        background-image: url(/assets/previoushover.svg);
      }
    }
    .middlebuttons {
      display: flex;
      align-items: center;
      justify-content: space-between;
      transition: 3s;
      img {
        height: 26px;
        width: 150px;
        padding-right: 20px;
        transition: all ease-in-out 550ms;
      }

      .pink-rectangle-translate {
        transform: translateX(150px);
      }

      .blue-rectangle-translate {
        transform: translateX(-150px);
      }
    }
  }
}

@media screen and (max-width: 480px) {
  .bgb {
    justify-content: center;
    display: flex;
    flex-direction: column;
    .title {
      font-size: 24px;
      line-height: 36px;
    }
    .wording {
      padding: 0 15px;
      font-size: 13px;
      white-space: normal;
      letter-spacing: 0.035em;
    }

    .upper-row {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      padding: 0 5%;
      height: auto;

      #running-man-img {
        background-image: url(/assets/runningman.png);
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        height: 250px;
        width: 100%;
        transition: all 400ms ease-in-out;
        &.active {
          background-image: url(/assets/runningman2.png);
        }
      }

      .blueman {
        display: none;

        .freeplay {
          display: none;
        }
        .words {
          display: none;
        }
        .watchButton {
          display: flex;
          align-items: center;
          justify-content: center;
          cursor: pointer;
          img {
            height: 70px;
            width: 330px;
          }
        }
      }
    }
    .sectionB {
      margin-top: 0px;
      overflow: hidden;
      width: 95%;
      margin: 0 auto;

      .middlebuttons {
        img {
          height: 20px;
          width: 50px;
          padding-right: 10px;
        }

        .pink-rectangle-translate {
          transform: translateX(50px);
        }

        .blue-rectangle-translate {
          transform: translateX(-50px);
        }
      }

      .directionbuttonL {
        img {
          width: 30px;
          height: 30px;
        }
      }
      .directionbuttonR {
        img {
          width: 30px;
          height: 30px;
        }
      }
    }

    #watch-button-mobile {
      display: flex;
      margin: 0 auto;
      justify-content: center;
      margin-top: 1rem;
      img {
        width: 50%;
      }
    }
  }
}
