.main{
    display: flex;
    height: 100vh;
    width: 100vw;
    justify-content: center;
    align-items: center;
    .imgdiv{
        display: flex;
        img{
            height: 100%;
            width: auto;
        }
    }
}